.card, .card-block {
  margin: 1vh auto;
}
#results {
  max-width: 60vw;
  margin: 2vh auto;
}

#description {
  text-align: left;
}

a:link {
  text-decoration: none;
  color: black
}

h2 {
  text-decoration: underline;
}

#product {
  text-align: left;
}
