<div class="card">
  <div class="card-block">
    <h2>{{ currentUser.user.alias }}'s Profile</h2>
    <hr>
    <div class="container-fluid">
      <div class="row" *ngIf="currentUser.user.vendor == true">
        <div class="col">
          <div class="container-fluid" id="create_item">
            <div class="card">
              <div class="card-block">
                <h3>List a product:</h3>
                <form (submit)="create_item()">
                  <input type="text" name="title" [(ngModel)]="product.title" class="form-control" placeholder="Product Name">
                  <hr>
                  <input type="text" name="description" [(ngModel)]="product.description" class="form-control" placeholder="Product Description">
                  <hr>
                  <input type="number" name="price" [(ngModel)]="product.price" class="form-control" placeholder="Price in USD">
                  <hr>
                  <input type="text" name="tags" [(ngModel)]="product.tags" class="form-control" placeholder="Tags (at least 3 tags seperated by spaces)">
                  <hr>
                  <input type="text" name="images" [(ngModel)]="product.images" class="form-control" placeholder="Add image URLs (seperated by spaces)">
                  <div class="form-group">
                    ... or upload an image here:
                    <input type="file" class="btn btn-outline-success" aria-describedby="fileHelp">
                  </div>
                  <hr>
                  <button type="submit" class="btn btn-block btn-outline-primary">Add Product</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <h4>Other stuff goes here.</h4>
          <h4></h4>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-block">
<!-- BASKET WAS REMOVED FROM HERE -->
            </div>
            </div>
          </div>

        <div class="col">
          <div class="card">
            <div class="card-block">
              <h1>Recently Viewed Items</h1>
              <h3 *ngIf='recently_viewed.length == 0'>No recently viewed items! Go look at some stuff.</h3>
              <div class="container-fluid" id="results">
                <div  *ngFor="let item of recently_viewed; let i = index" class="container-fluid">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="{{ item.images[0] }}" class="img-fluid" alt="{{ item.title }} image">
                    </div>
                    <div class="col-md-6" id="description">
                      <a [routerLink]="['/product', item._id]">
                      <h3>{{ item.title }}</h3>
                      <ngb-rating [rate]="item.rating"></ngb-rating>
                      <h4>{{ item.price | currency : 'USD' : true }}</h4>
                      <h5>Vendor: {{ item._vendor.alias }}</h5>
                      </a>
                      <div class="d-inline">
                        <button type="submit" class="btn btn-outline-primary">Contact Seller</button>
                        <button type="submit" class="btn btn-outline-primary" (click)="add_to_basket(item)">Add to Cart</button>
                      </div>
                    </div>
                    <div class="cold-md-1"></div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-block">
          <h1>Suggested Products</h1>
          <div class="container-fluid" id="results">
            <div  *ngFor="let item of suggested_products; let i = index" class="container-fluid">
              <img src="{{ item.images[0] }}" class="img-fluid" alt="{{ item.title }} image">
              <a [routerLink]="['/product', item._id]">
                <h3>{{ item.title }}</h3>
                <ngb-rating [rate]="item.rating"></ngb-rating>
                <h4>{{ item.price | currency : 'USD' : true }}</h4>
                <h5>Description: {{ item.description }}</h5>
                <h5>Vendor: {{ item._vendor.alias }}</h5>
              </a>
              <div class="d-inline">
                <button type="submit" class="btn btn-outline-primary">Contact Seller</button>
                <button type="submit" class="btn btn-outline-primary" (click)="add_to_basket(item)">Add to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-block">
          <h1>Order History</h1>
          <h3 *ngIf='orders.length == 0'>No ordered items! Lame :(</h3>
          <div class="container-fluid" id="results">
            <div  *ngFor="let item of listings; let i = index" class="container-fluid">
              <div class="row">
                <div class="col-md-1">
                    <h4>{{ i + 1 }}.</h4>
                </div>
                <div class="col-md-4">
                  <img src="{{ item.images[0] }}" class="img-fluid" alt="{{ item.title }} image">
                </div>
                <div class="col-md-6" id="description">
                  <a [routerLink]="['/product', item._id]">
                  <h3>{{ item.title }}</h3>
                  <ngb-rating [rate]="item.rating"></ngb-rating>
                  <h4>{{ item.price | currency : 'USD' : true }}</h4>
                  <h5>Description: {{ item.description }}</h5>
                  <h5>Vendor: {{ item._vendor.alias }}</h5>
                </a>
                  <div class="d-inline">
                    <button type="submit" class="btn btn-outline-primary">Contact Seller</button>
                    <button type="submit" class="btn btn-outline-primary" (click)="add_to_basket(item)">Add to Cart</button>
                    <a [routerLink]="['/review_product', item._id]">Review this product</a>
                    <a [routerLink]="['/review_vendor', item._vendor._id]">Review this vendor</a>
                  </div>
                </div>
                <div class="cold-md-1"></div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
