#carousel-container {
  max-width: 100%;
  margin: 0 auto;
}

ngb-carousel {
  max-width: 100%;
  margin: 0 auto;
}

.carousel-item {
  max-height: 40vh;
  margin:auto
}

#img-container {
  margin: auto;
}

img {
  width: 100%;
  margin:auto
}
