<div class="container-fluid" id="carousel-container">
  <ngb-carousel class="text-lg-center">
    <ng-template ngbSlide>
      <img class="img-fluid d-block" src="./../../../assets/images/ls1.jpg"  alt="ls1">
      <div class="carousel-caption d-none d-md-block">
        <h3>More Filler Text Here</h3>
        <p>Again, more subfiller text goes here.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="img-fluid d-block" src="./../../../assets/images/ls2.jpg" alt="ls2">
      <div class="carousel-caption d-none d-md-block">
        <h3>Fake Filler Text Again........</h3>
        <p>I'm not very orginal.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="img-container">
        <img class="img-fluid d-block" src="./../../../assets/images/ls3.jpg"  alt="ls3">
        <div class="carousel-caption d-none d-md-block">
          <h3>More Filler Text Here</h3>
          <p>Again, more subfiller text goes here.</p>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
