<div class="container-fluid" id="header">
  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <img src="./../../../assets/images/llama.png" class="img-fluid float-left" alt="llama">
      </div>
    </div>
    <div class="col">
      <div class="container-fluid" id="title">
        <h2>FairBnB</h2>
        <h5>Etsy meets bitcoin and bartering.</h5>
      </div>
    </div>
    <div class="col-sm-3"></div>
    <div class="col">
      <form class="form form-inline">
        <div class="input-group">
          
        </div>
      </form>
    </div>
  </div>
</div>
