<nav class="navbar navbar-toggleable-sm">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand"><img src="./../../../assets/images/llama.png" class="img-fluid float-left" alt="llama"></a>
    <div class="container-fluid" id="title">
      <h2>FairBnB</h2>
      <h5>Etsy meets bitcoin and bartering.</h5>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <form class="d-inline ml-auto">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="input-group justify-content-end">
              <input type="text" class="form-control" placeholder="Password">
              <span class="input-group-btn">
                <button class="btn btn-outline-primary" type="button">Search</button>
              </span>
            </div>
        </form>
    </div>
</nav>
