<div *ngIf="initial == true" class="card content-block">
  <div class="card-block">
    <h3>Register</h3>
    <h5>Your privacy and anonymity are imporant to us. We don't share your information with anyone.</h5>
    <div class="card">
      <div class="card-block">
        <h4>Terms of Use:</h4>
        <ul>
          <li>I solemnly swear that I am up to no good.</li>
          <li>Absolutely nothing I am doing is in any way legal.</li>
          <li>I love Node.js.</li>
        </ul>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="agree" value="yes" (click)="agree = true"> I agree.
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="agree" value="no" (click)="agree = false"> I do not agree.
            </label>
          </div>
        </div>
        <div *ngIf="agree == true" class="container-fluid">
          <button type="submit" class="btn btn-outline-primary btn-block" (click)="initial = false">Continue...</button>
        </div>
      </div>
      <div *ngIf="agree == false" class="container-fluid">
        <div class="card">
          <div class="card-block">
            <h5>You're not supposed to be here!</h5>
            <img src="./../../../assets/images/scream.png" class="img-fluid" alt="screaming_llama">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="initial == false" class="card content-block">
  <div class="card-block">
    <h3>Register</h3>
    <h5>Your privacy and anonymity are imporant to us. We don't share your information with anyone.</h5>
    <div class="card">
      <div class="card-block">
        <form #regForm="ngForm" (submit)="register()">
          <input type="text" [(ngModel)]="user.alias" #alias="ngModel" name="alias" class="form-control" placeholder="Alias" minlength="2" required>
		  	<p class="error" *ngIf="alias.touched && !alias.valid">Alias must be at least 2 characters long</p>
          <input type="text" [(ngModel)]="user.email" #email="ngModel" name="email" class="form-control" placeholder="Email" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" required>
		  	<p class="error" *ngIf="email.touched && !email.valid">Please enter a valid email address</p>
          <input type="password" [(ngModel)]="user.password" #password="ngModel" name="password" class="form-control" placeholder="Password" minlength="8" required>
		  	<p class="error" *ngIf="password.touched && !password.valid">Password must be at least 8 characters long</p>
          <input type="password" [(ngModel)]="user.confirm" #confirm="ngModel" name="confirm" class="form-control" placeholder="Confirm Password" pattern=password minlength="8" required>
		  	<p class="error" *ngIf="confirm.touched && !confirm.valid">Please enter your password again</p>
          <button [disabled]="!regForm.valid" type="submit" class="btn btn-outline-primary btn-block">Register!</button>
        </form>
      </div>
    </div>
  </div>
</div>
