<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <h3 class="title">Shop</h3>
      <a href="#"><p><small>Security/Privacy</small></p></a>
      <a href="#"><p><small>Code of Conduct</small></p></a>
      <a href="#"><p><small>Advertisement</small></p></a>
    </div>
    <div class="col-md-3">
      <h3 class="title">Sell</h3>
      <a href="#"><p><small>How to Sell</small></p></a>
      <a href="#"><p><small>Seller Privacy</small></p></a>
      <a href="#"><p><small>Shop Rules</small></p></a>
      <a href="#"><p><small>Currencies</small></p></a>
    </div>
    <div class="col-md-3">
      <h3 class="title">About</h3>
      <a href="#"><p><small>About Us</small></p></a>
      <a href="#"><p><small>Investors</small></p></a>
      <a href="#"><p><small>Careers</small></p></a>
      <a href="#"><p><small>Press</small></p></a>
    </div>
    <div class="col-md-3">
      <h3 class="title">Social Media</h3>
      <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
      <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
      <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
      <a href="#" class="fa fa-pinterest" aria-hidden="true"></a>
      <a href="#" class="fa fa-youtube" aria-hidden="true"></a>
      <a href="#" class="fa fa-y-combinator" aria-hidden="true"></a>
    </div>
  </div>
  <br>
  <p><small><strong>Copyright (c) 2017 Copyright TEAM AWESOME All Rights Reserved.</strong></small></p>
</div>
