.row, .container-fluid {
  text-align: center;
}

.title {
  text-decoration: underline;
  font-size: .9em;
}

a, p {
  line-height: .3em;
}

.fa {
  font-size: 1.6em;
  padding: 5px;
  margin-top: 5px;
}
