/* You can add global styles to this file, and also import other style files */

#content {
  max-width: 90vw;
  margin: 2vh auto;
}
#loading {
  position: absolute;
  top: 40vh;
  left: 41vw;;
}

body {
  text-align: center;
}
